*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
composer.phar
composer.lock
composer-installer.php
c3.php
tests/_output/c3tmp/
docs/phpdoc-cache-*
vendor/